@import "partials/variables.scss";
@import "partials/base.scss";
@import "partials/navigation.scss";
@import "partials/lightbox.scss";
@import "partials/forms.scss";
@import "partials/contact.scss";
@import "partials/message.scss";

.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #222;
  //height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  //position: relative;
  h4 {
      margin: 0;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Main-component-containter {
    margin-top: 20px;
    padding: 20px;
}
.Maps h2 {
    margin: 0;
    padding-top: 20px;
}
.Map-list {
    width: 300px;
    float: left;
    margin: 5px;
    //background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
        background-color: #eaeaea;
    }
    img {
        cursor: pointer;
    }
}

.clear-fix {
    clear: both;
}

footer {
    background-color: #e4e4e4;
    padding: 20px;
    .external-credit {
        font-size: 10px;
        text-align: center;
        //padding-top: 20px;
    }
}
