@import "partials/variables.scss";
@import "partials/base.scss";
@import "partials/navigation.scss";

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-top: 20px;
  color: white;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Main-component-containter {
    margin-top: 20px;
    padding: 20px;
}

.Map-list {
    width: 300px;
    float: left;
    margin: 5px;
    background-color: lightgray;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
