/* line 1, ../sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 11, ../sass/partials/_base.scss */
a {
  color: #182375;
  text-decoration: none;
}
/* line 14, ../sass/partials/_base.scss */
a:hover {
  color: #3d52f1;
}

/* line 1, ../sass/partials/_navigation.scss */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
}
/* line 11, ../sass/partials/_navigation.scss */
#navbar li {
  float: left;
  display: block;
}
/* line 14, ../sass/partials/_navigation.scss */
#navbar li a.active {
  background-color: #4caf50;
  color: #FFFFFF;
}
/* line 18, ../sass/partials/_navigation.scss */
#navbar li .dropdown {
  display: inline-block;
}

/* line 24, ../sass/partials/_navigation.scss */
li a, .dropbtn {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 32, ../sass/partials/_navigation.scss */
.dropbtn {
  border: none;
}

/* line 36, ../sass/partials/_navigation.scss */
li:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: #000000;
  cursor: pointer;
}

/* line 43, ../sass/partials/_navigation.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* line 50, ../sass/partials/_navigation.scss */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* line 56, ../sass/partials/_navigation.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* line 62, ../sass/partials/_navigation.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 67, ../sass/partials/_navigation.scss */
#navbar_right {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  /* line 76, ../sass/partials/_navigation.scss */
  #navbar li {
    float: none;
    width: 100%;
  }

  /* line 80, ../sass/partials/_navigation.scss */
  #navbar_right {
    width: 100%;
  }
}
/* line 1, ../sass/partials/_mapModal.scss */
.Map-modal {
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-top: -150px;
  background-color: rgba(0, 0, 0, 0.58);
  text-align: left;
}
/* line 12, ../sass/partials/_mapModal.scss */
.Map-modal .close {
  position: absolute;
  color: white;
  font-size: 35px;
  top: 10px;
  right: 25px;
  font-weight: bold;
}
/* line 19, ../sass/partials/_mapModal.scss */
.Map-modal .close:hover, .Map-modal .close.focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* line 27, ../sass/partials/_mapModal.scss */
.modal-content {
  position: relative;
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: auto;
  padding: 10px 30px;
  width: 60%;
  min-width: 320px;
  max-width: 1200px;
}

/* line 39, ../sass/partials/_mapModal.scss */
.map-details, .map-info, .map-images {
  margin: 10px 0;
  padding: 10px;
}

/* line 44, ../sass/partials/_mapModal.scss */
.map-details {
  background-color: #fbfbfb;
  border-radius: 5px;
}
/* line 47, ../sass/partials/_mapModal.scss */
.map-details:after {
  content: '';
  clear: both;
}

/* line 52, ../sass/partials/_mapModal.scss */
.map-detail-name {
  width: 20%;
  min-width: 110px;
  float: left;
}

/* line 57, ../sass/partials/_mapModal.scss */
.map-detail-item {
  padding: 2px;
}
/* line 59, ../sass/partials/_mapModal.scss */
.map-detail-item:after {
  content: '';
  clear: both;
}

/* line 64, ../sass/partials/_mapModal.scss */
.map-status {
  height: 25px;
  background-color: #c7c7c7;
  border-radius: 5px;
}

/* line 69, ../sass/partials/_mapModal.scss */
.map-progress {
  height: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

/* line 79, ../sass/partials/_mapModal.scss */
.map-info {
  margin: 0;
  padding: 0;
}
/* line 82, ../sass/partials/_mapModal.scss */
.map-info h4 {
  margin: 5px;
}

/* line 86, ../sass/partials/_mapModal.scss */
.map-info-text {
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 10px;
}

/* line 91, ../sass/partials/_mapModal.scss */
.map-images {
  background-color: #fbfbfb;
  border-radius: 5px;
}

/* line 1, ../sass/partials/_forms.scss */
input[type=text], textarea {
  padding: 10px;
  margin: 0;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

/* line 11, ../sass/partials/_forms.scss */
input[type=submit] {
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: #eae8e8;
  color: black;
  cursor: pointer;
}
/* line 18, ../sass/partials/_forms.scss */
input[type=submit]:hover {
  background-color: lightgray;
}

/* line 1, ../sass/partials/_contact.scss */
.Contact {
  background-color: #f5f5f5;
  padding: 20px;
}

/* line 6, ../sass/partials/_contact.scss */
#contact-info {
  padding: 70px 20px 5px 20px;
  font-size: 14px;
  width: 40%;
  height: 100%;
  text-align: left;
  float: left;
}

/* line 16, ../sass/partials/_contact.scss */
#contact-form {
  padding: 20px;
  width: 60%;
  float: left;
}
/* line 21, ../sass/partials/_contact.scss */
#contact-form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 260px;
  height: 140px;
  margin-bottom: 10px;
}
/* line 28, ../sass/partials/_contact.scss */
#contact-form .contact-input {
  float: left;
  width: 40%;
  min-width: 260px;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 34, ../sass/partials/_contact.scss */
#contact-form .contact-input:after {
  content: '';
  clear: both;
}
/* line 39, ../sass/partials/_contact.scss */
#contact-form .contact-submit {
  float: right;
}
/* line 41, ../sass/partials/_contact.scss */
#contact-form .contact-submit:disabled {
  cursor: not-allowed;
  background-color: #adabab;
}
/* line 46, ../sass/partials/_contact.scss */
#contact-form .contact-form-info {
  margin: 0;
  padding: 10px;
  height: 50px;
}
/* line 51, ../sass/partials/_contact.scss */
#contact-form .formErrors, #contact-form .formMessages {
  font-size: 14px;
  margin: 0;
}
/* line 56, ../sass/partials/_contact.scss */
#contact-form .formErrors p, #contact-form .formMessages p {
  font-weight: bold;
  margin: 1px;
}
/* line 61, ../sass/partials/_contact.scss */
#contact-form .formErrors {
  color: red;
}
/* line 64, ../sass/partials/_contact.scss */
#contact-form .formMessages {
  color: #11a011;
}

/* line 69, ../sass/partials/_contact.scss */
.contact-info-detail {
  padding: 2px;
  margin: 10px 0;
}
/* line 72, ../sass/partials/_contact.scss */
.contact-info-detail img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 77, ../sass/partials/_contact.scss */
.contact-info-detail span {
  padding-left: 10px;
  vertical-align: middle;
}

/* line 83, ../sass/partials/_contact.scss */
.contact-test--btn {
  float: left;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: #eae8e8;
  color: black;
  margin-left: 5px;
  cursor: pointer;
}
/* line 92, ../sass/partials/_contact.scss */
.contact-test--btn:hover {
  background-color: lightgray;
}

@media screen and (max-width: 600px) {
  /* line 98, ../sass/partials/_contact.scss */
  #contact-info {
    width: 100%;
  }

  /* line 102, ../sass/partials/_contact.scss */
  #contact-form {
    width: 100%;
  }
}
/* line 1, ../sass/partials/_message.scss */
.Message-single, .no-messages {
  width: 80%;
  min-width: 200px;
  margin: 20px auto;
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}
/* line 9, ../sass/partials/_message.scss */
.Message-single div, .no-messages div {
  margin: 10px;
}

/* line 13, ../sass/partials/_message.scss */
.no-messages {
  text-align: center;
  padding: 20px;
}

/* line 18, ../sass/partials/_message.scss */
.message-message {
  background-color: #fbfbfb;
  padding: 15px;
}

/* line 23, ../sass/partials/_message.scss */
.manage-message {
  text-align: right;
}
/* line 26, ../sass/partials/_message.scss */
.manage-message img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

/* line 1, ../sass/partials/_editmap.scss */
.map-edit-container {
  background-color: lightgreen;
  width: 90%;
  margin: 0 auto;
}

/* line 7, ../sass/partials/_editmap.scss */
.map-edit-select-container {
  background-color: lightblue;
  width: 25%;
  height: 800px;
  float: left;
  list-style-type: none;
  text-align: left;
  overflow-y: auto;
  padding: 10px;
}
/* line 16, ../sass/partials/_editmap.scss */
.map-edit-select-container ul {
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/partials/_editmap.scss */
.map-edit-select-container li {
  display: block;
  width: 100%;
}

/* line 26, ../sass/partials/_editmap.scss */
.map-edit-form-container {
  background-color: lightyellow;
  width: 75%;
  float: left;
}

/* line 32, ../sass/partials/_editmap.scss */
.map-edit-form-general {
  background-color: lightgray;
}

/* line 36, ../sass/partials/_editmap.scss */
.map-edit-form-images {
  background-color: orange;
}

/* line 10, ../sass/App.scss */
.App {
  text-align: center;
  overflow: hidden;
}

/* line 17, ../sass/App.scss */
.App-header {
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
/* line 24, ../sass/App.scss */
.App-header h4 {
  margin: 0;
}

/* line 29, ../sass/App.scss */
.App-title {
  font-size: 1.5em;
}

/* line 33, ../sass/App.scss */
.App-intro {
  font-size: large;
}

/* line 37, ../sass/App.scss */
.Main-component-containter {
  margin-top: 20px;
  padding: 20px;
}

/* line 42, ../sass/App.scss */
.Maps h2 {
  margin: 0;
  padding-top: 20px;
}

/* line 47, ../sass/App.scss */
.Map-box {
  width: 300px;
  float: left;
  margin: 5px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 55, ../sass/App.scss */
.Map-box:hover {
  background-color: #eaeaea;
}

/* line 59, ../sass/App.scss */
.map-box-name {
  padding: 10px 0;
}

/* line 63, ../sass/App.scss */
.map-name-released:hover {
  background-color: lightgreen;
}

/* line 68, ../sass/App.scss */
.clear-fix {
  clear: both;
}

/* line 72, ../sass/App.scss */
footer {
  background-color: #e4e4e4;
  padding: 20px;
}
/* line 75, ../sass/App.scss */
footer .external-credit {
  font-size: 10px;
  text-align: center;
}
