/* line 1, ../sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 1, ../sass/partials/_navigation.scss */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
}
/* line 11, ../sass/partials/_navigation.scss */
#navbar li {
  float: left;
  display: block;
}
/* line 14, ../sass/partials/_navigation.scss */
#navbar li a.active {
  background-color: #4caf50;
  color: #FFFFFF;
}
/* line 18, ../sass/partials/_navigation.scss */
#navbar li .dropdown {
  display: inline-block;
}

/* line 24, ../sass/partials/_navigation.scss */
li a, .dropbtn {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 32, ../sass/partials/_navigation.scss */
li:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: #000000;
  cursor: pointer;
}

/* line 39, ../sass/partials/_navigation.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* line 46, ../sass/partials/_navigation.scss */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* line 52, ../sass/partials/_navigation.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* line 58, ../sass/partials/_navigation.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  /* line 63, ../sass/partials/_navigation.scss */
  #navbar li {
    float: none;
    width: 100%;
  }
}
/* line 1, ../sass/partials/_lightbox.scss */
.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
}
/* line 10, ../sass/partials/_lightbox.scss */
.modal .close {
  position: absolute;
  color: white;
  font-size: 35px;
  top: 10px;
  right: 25px;
  font-weight: bold;
}
/* line 17, ../sass/partials/_lightbox.scss */
.modal .close:hover, .modal .close.focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* line 25, ../sass/partials/_lightbox.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* line 1, ../sass/partials/_forms.scss */
input[type=text], textarea {
  padding: 10px;
  margin: 0;
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

/* line 11, ../sass/partials/_forms.scss */
input[type=submit] {
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: white;
  color: black;
  cursor: pointer;
}
/* line 18, ../sass/partials/_forms.scss */
input[type=submit]:hover {
  background-color: lightgray;
}

/* line 23, ../sass/partials/_forms.scss */
.formErrors {
  font-size: 12px;
  margin-bottom: 10px;
  color: red;
}
/* line 28, ../sass/partials/_forms.scss */
.formErrors p {
  margin: 1px;
}

/* line 7, ../sass/App.scss */
.App {
  text-align: center;
  overflow: hidden;
}

/* line 12, ../sass/App.scss */
.App-header {
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
/* line 19, ../sass/App.scss */
.App-header h4 {
  margin: 0;
}

/* line 24, ../sass/App.scss */
.App-title {
  font-size: 1.5em;
}

/* line 28, ../sass/App.scss */
.App-intro {
  font-size: large;
}

/* line 32, ../sass/App.scss */
.Main-component-containter {
  margin-top: 20px;
  padding: 20px;
}

/* line 36, ../sass/App.scss */
.Maps h2 {
  margin: 0;
  padding-top: 20px;
}

/* line 40, ../sass/App.scss */
.Map-list {
  width: 300px;
  float: left;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 46, ../sass/App.scss */
.Map-list:hover {
  background-color: #eaeaea;
}
/* line 49, ../sass/App.scss */
.Map-list img {
  cursor: pointer;
}

/* line 55, ../sass/App.scss */
.clear-fix {
  clear: both;
}

/* line 59, ../sass/App.scss */
.Contact {
  background-color: white;
}

/* line 64, ../sass/App.scss */
footer {
  background-color: #e4e4e4;
  padding: 20px;
}

/* line 69, ../sass/App.scss */
.Contact {
  background-color: #efefef;
  padding: 20px;
}
/* line 72, ../sass/App.scss */
.Contact #contact-info {
  padding: 10px;
  background-color: lightblue;
  width: 40%;
  float: left;
}
/* line 78, ../sass/App.scss */
.Contact #contact-form {
  padding: 20px;
  background-color: lightgreen;
  width: 60%;
  float: left;
}
/* line 83, ../sass/App.scss */
.Contact #contact-form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 260px;
  height: 140px;
  margin-bottom: 10px;
}
/* line 90, ../sass/App.scss */
.Contact #contact-form .contact-input {
  float: left;
  width: 40%;
  min-width: 260px;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 96, ../sass/App.scss */
.Contact #contact-form .contact-input:after {
  content: '';
  clear: both;
}
/* line 101, ../sass/App.scss */
.Contact #contact-form .contact-submit {
  float: right;
}
/* line 103, ../sass/App.scss */
.Contact #contact-form .contact-submit:disabled {
  cursor: not-allowed;
  background-color: #adabab;
}
/* line 108, ../sass/App.scss */
.Contact #contact-form .contact-form-errors {
  height: 50px;
}
