.education-container {
    background-color: #e8e8e8;
    padding: 10px;
}

.subject-container {
    text-align: left;
    padding:10px;
    h4 {
        margin: 10px 0;
    }
}

.subject-info {
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 10px 30px;
    //width: 60%;
}
