#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $dark-gray;
	//height: 46px;
    //position: absolute;
    bottom: 0;
    width: 100%;
    li {
        float:left;
        display: block;
        a.active {
        	background-color: $green;
        	color: $white;
        }
        .dropdown {
            display: inline-block;
        }
    }
}

li a, .dropbtn {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
    border: none;
}

li:hover, .dropdown:hover .dropbtn {
    background-color: $light-gray;
    color: $black;
    cursor: pointer;
}

// Dropdown content
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $dropdown-bg;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
            background-color: $dropdown-hover;
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

// Right part of navigation bar
#navbar_right {
	float: right;
	margin: 0;
	padding: 0;
	height: 100%;
	vertical-align: middle;
}

@media screen and (max-width: 600px) {
    #navbar li {
        float: none;
        width: 100%;
    }
    #navbar_right {
        width: 100%;
    }
}
